body {
  padding: 0;
  margin: 0;
  font-family: 'Arial', serif; }

.header {
  height: 672px;
  width: 100%;
  background: no-repeat center/cover url("../source/layer-1.jpg"); }
  .header .container {
    width: 65%;
    margin: 0 auto; }
    @media (max-width: 800px) {
      .header .container {
        width: 75%; } }
  @media (max-width: 800px) and (max-width: 500px) {
    .header .container {
      width: 85%; } }

  .header-small-title {
    text-align: center;
    margin: 0;
    padding-top: 83px;
    font-size: 21px;
    color: #fff; }
  .header .header-main-title-wrapper {
    margin: 185px 0 0; }
  .header-main-title {
    color: #fff;
    font-size: 63px; }
    .header-main-title__top {
      color: #b7b7b7;
      font-size: 23px; }
    .header-main-title__sub {
      font-size: 14px;
      color: #fff;
      letter-spacing: 1.7px; }

.gallery {
  background-color: #fff;
  height: 737px; }
  @media (max-width: 710px) {
    .gallery {
      height: auto;
      padding-bottom: 50px; } }
  .gallery .container {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 800px) {
      .gallery .container {
        width: 75%; } }
  @media (max-width: 800px) and (max-width: 500px) {
    .gallery .container {
      width: 85%; } }

  .gallery .left-col {
    display: flex;
    flex-direction: column;
    width: 75%; }
    .gallery .left-col .text-wrapper {
      padding: 3.5vw 5px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      @media (max-width: 890px) {
        .gallery .left-col .text-wrapper {
          flex-direction: column; } }
      .gallery .left-col .text-wrapper .section-title {
        font-size: 30px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.8); }
      .gallery .left-col .text-wrapper .section-about {
        display: inline-block;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.7);
        line-height: 2; }
        @media (max-width: 1294px) {
          .gallery .left-col .text-wrapper .section-about {
            padding-left: 5px; }
            .gallery .left-col .text-wrapper .section-about br {
              display: none; } }
    .gallery .left-col .images {
      height: 500px;
      background-color: darkorange;
      display: flex; }
      .gallery .left-col .images .left-col,
      .gallery .left-col .images .right-col {
        display: flex;
        flex-direction: column;
        height: 100%; }
      .gallery .left-col .images .left-col {
        width: 45%;
        background-color: purple; }
        .gallery .left-col .images .left-col .img:nth-child(1) {
          width: 100%;
          height: 202px;
          background: no-repeat center/cover url("../source/img-1.jpg"); }
        .gallery .left-col .images .left-col .img:nth-child(2) {
          background: no-repeat center/cover url("../source/img-2.jpg");
          width: 100%;
          height: 305px; }
      .gallery .left-col .images .right-col {
        width: 55%;
        background-color: aquamarine;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end; }
        .gallery .left-col .images .right-col .img {
          height: 263px;
          width: 100%;
          background: no-repeat center/cover url("../source/img-3.jpg"); }
        .gallery .left-col .images .right-col .img-box {
          display: flex;
          width: 100%;
          height: 242px;
          position: static;
          top: 0; }
          .gallery .left-col .images .right-col .img-box .left-col {
            width: 45%;
            display: flex;
            flex-direction: column; }
            .gallery .left-col .images .right-col .img-box .left-col .img:nth-child(1) {
              background: no-repeat center/cover url("../source/img-4.jpg");
              height: 107px; }
            .gallery .left-col .images .right-col .img-box .left-col .img:nth-child(2) {
              height: 132px;
              background: no-repeat center/cover url("../source/img-5.jpg"); }
          .gallery .left-col .images .right-col .img-box .right-col {
            width: 55%; }
            .gallery .left-col .images .right-col .img-box .right-col .img {
              background: no-repeat center/cover url("../source/img-6.jpg"); }
  .gallery .img-box {
    width: 23%;
    height: 738px;
    background: no-repeat center/cover url("../source/col-2.jpg");
    position: relative;
    top: -75px; }

.banner {
  max-height: 326px;
  height: 326px;
  background: no-repeat center/cover url("../source/banner.jpg"); }

.text-wrapper {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  padding: 100px 10px 0; }
  .text-wrapper .btn {
    font-size: 23px;
    padding: 7px 15px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box; }
  .text-wrapper .text {
    font-size: 13px;
    text-align: center;
    padding-top: 25px;
    line-height: 2; }

.statistic {
  height: 504px;
  padding-bottom: 50px; }
  .statistic h2 {
    margin: 0; }
  @media (max-width: 925px) {
    .statistic {
      height: auto; } }
  .statistic .container {
    width: 65%;
    margin: 0 auto;
    flex-wrap: wrap; }
    @media (max-width: 800px) {
      .statistic .container {
        width: 75%; } }
  @media (max-width: 800px) and (max-width: 500px) {
    .statistic .container {
      width: 85%; } }

    .statistic .container .statistic-title {
      font-size: 30px;
      font-weight: 300;
      text-align: center;
      padding: 70px 0; }
    .statistic .container .text {
      line-height: 1.8;
      font-size: 14px;
      margin: 0; }
      .statistic .container .text-title {
        font-size: 30px;
        display: block; }
    .statistic .container .values {
      display: flex;
      justify-content: space-between;
      margin-top: 35px;
      background-color: #f5f5f5;
      padding: 13px 55px;
      border-radius: 5px;
      box-sizing: border-box;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 50px; }
      @media (max-width: 366px) {
        .statistic .container .values {
          display: block; } }
      .statistic .container .values .val {
        display: flex;
        flex-direction: column;
        text-align: center;
        box-sizing: border-box;
        align-items: center; }
        @media (max-width: 770px) {
          .statistic .container .values .val {
            margin: 5px 5px; } }
  @media (max-width: 770px) and (max-width: 370px) {
    .statistic .container .values .val {
      margin: 15px 5px; } }

        .statistic .container .values .val-num {
          font-size: 23px;
          font-weight: 500; }
        .statistic .container .values .val-title {
          font-size: 17px; }

.footer {
  height: 1054px;
  width: 100%;
  background: no-repeat top/cover url("../source/footer.jpg"); }
  @media (max-width: 661px) {
    .footer {
      height: auto; } }
  .footer .container {
    width: 65%;
    margin: 0 auto; }
    @media (max-width: 800px) {
      .footer .container {
        width: 75%; } }
  @media (max-width: 800px) and (max-width: 500px) {
    .footer .container {
      width: 85%; } }

    .footer .container .btn {
      font-size: 23px;
      padding: 7px 15px;
      border: 1px solid rgba(255, 255, 255, 0.8);
      box-sizing: border-box;
      width: 175px;
      margin: 0 auto; }
    .footer .container .text-wrapper {
      padding-top: 118px;
      margin-bottom: 90px; }
    .footer .container .player {
      height: 440px;
      width: 77.8%;
      display: flex;
      background-color: #2c2c2c;
      margin: 0 auto;
      -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.42);
      -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.42);
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.42); }
      @media (max-width: 920px) {
        .footer .container .player {
          height: 380px; } }
  @media (max-width: 920px) and (max-width: 660px) {
    .footer .container .player {
      height: 280px; } }

  @media (max-width: 920px) and (max-width: 660px) and (max-width: 480px) {
    .footer .container .player {
      height: 200px; } }

      .footer .container .player svg {
        margin: auto; }
    .footer .container .footer-text {
      font-size: 23px;
      color: rgba(255, 255, 255, 0.8);
      text-align: center;
      padding: 100px 0;
      margin: 0; }

/*# sourceMappingURL=styles.css.map */
