@import "mixins";

body {
  padding: 0;
  margin: 0;
  font-family: 'Arial', serif;
}

.header {
  height: 672px;
  width: 100%;
  background: no-repeat center/cover url("../source/layer-1.jpg");

  .container {
    @include container;
  }

  &-small-title {
    text-align: center;
    margin: 0;
    padding-top: 83px;
    font-size: 21px;
    color: #fff;
  }

  .header-main-title-wrapper {
    margin: 185px 0 0;
  }

  &-main-title {
    color: #fff;
    font-size: 63px;

    &__top {
      color: #b7b7b7;
      font-size: 23px;
    }

    &__sub {
      font-size: 14px;
      color: #fff;
      letter-spacing: 1.7px;
    }
  }
}

.gallery {
  background-color: #fff;
  height: 737px;
  @media (max-width: 710px) {
    height: auto;
    padding-bottom: 50px;
  }

  .container {
    @include container;
    display: flex;
    justify-content: space-between;
  }

  .left-col {
    display: flex;
    flex-direction: column;
    width: 75%;

    .text-wrapper {
      padding: 3.5vw 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 890px) {
        flex-direction: column;
      }

      .section-title {
        font-size: 30px;
        font-weight: 300;
        color: rgba(0, 0, 0, .8);
      }

      .section-about {
        display: inline-block;
        font-size: 13px;
        color: rgba(0, 0, 0, .7);
        line-height: 2;
        @media (max-width: 1294px) {
          padding-left: 5px;
          br {
            display: none;
          }
        }

      }
    }

    .images {
      height: 500px;
      background-color: darkorange;
      display: flex;

      .left-col,
      .right-col {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .left-col {
        width: 45%;
        background-color: purple;

        .img:nth-child(1) {
          width: 100%;
          height: 202px;
          background: no-repeat center/cover url("../source/img-1.jpg");
        }

        .img:nth-child(2) {
          background: no-repeat center/cover url("../source/img-2.jpg");
          width: 100%;
          height: 305px;
        }
      }

      .right-col {
        width: 55%;
        background-color: aquamarine;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        .img {
          height: 263px;
          width: 100%;
          background: no-repeat center/cover url("../source/img-3.jpg");
        }

        .img-box {
          display: flex;
          width: 100%;
          height: 242px;
          position: static;
          top: 0;

          .left-col {
            width: 45%;
            display: flex;
            flex-direction: column;

            .img:nth-child(1) {
              background: no-repeat center/cover url("../source/img-4.jpg");
              height: 107px;
            }

            .img:nth-child(2) {
              height: 132px;
              background: no-repeat center/cover url("../source/img-5.jpg");
            }
          }

          .right-col {
            width: 55%;

            .img {
              background: no-repeat center/cover url("../source/img-6.jpg");
            }
          }
        }
      }
    }
  }

  .img-box {
    width: 23%;
    height: 738px;
    background: no-repeat center/cover url("../source/col-2.jpg");
    position: relative;
    top: -75px;
  }
}

.banner {
  max-height: 326px;
  height: 326px;
  background: no-repeat center/cover url("../source/banner.jpg");
}

.text-wrapper {
  text-align: center;
  color: rgba(255, 255, 255, .8);
  padding-top: 100px;

  .btn {
    @include btn;
  }

  .text {
    font-size: 13px;
    text-align: center;
    padding-top: 25px;
    line-height: 2;
  }
}

.statistic {
  height: 504px;
  padding-bottom: 50px;

  h2 {
    margin: 0;
  }

  @media (max-width: 925px) {
    height: auto;
  }

  .container {
    @include container;
    flex-wrap: wrap;


    .statistic-title {
      font-size: 30px;
      font-weight: 300;
      text-align: center;
      padding: 70px 0;
    }

    .text {
      line-height: 1.8;
      font-size: 14px;

      &-title {
        font-size: 30px;
        display: block;
        height: min-content;
      }
    }

    .values {
      display: flex;
      justify-content: space-between;
      margin-top: 35px;
      background-color: #f5f5f5;
      padding: 13px 55px;
      border-radius: 5px;
      width: 100%;
      box-sizing: border-box;
      flex-wrap: wrap;
      //height: 70px;
      align-items: center;

      .val {
        display: flex;
        flex-direction: column;
        text-align: center;
        //padding: 14px 0;
        box-sizing: border-box;
        align-items: center;

        &-num {
          font-size: 23px;
          font-weight: 500;
        }

        &-title {
          font-size: 17px;
        }
      }
    }
  }
}

.footer {
  height: 1054px;
  width: 100%;
  background: no-repeat top/cover url("../source/footer.jpg");

  .container {
    @include container;
    height: 100%;

    .btn {
      @include btn;
      width: 175px;
      margin: 0 auto;
    }

    .text-wrapper {
      padding-top: 118px;
      margin-bottom: 90px;
    }

    .player {
      height: 440px;
      width: 77.8%;
      display: flex;
      background-color: #2c2c2c;
      margin: 0 auto;
      -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.42);
      -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.42);
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.42);
      @media (max-width: 920px) {
        height: 380px;
        @media (max-width: 660px) {
          height: 280px;
          @media (max-width: 480px) {
            height: 200px;
          }
        }
      }

      svg {
        margin: auto;
      }
    }

    .footer-text {
      font-size: 23px;
      color: rgba(255, 255, 255, .8);
      text-align: center;
      padding-top: 100px;
    }
  }
}